*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
}

main {
    text-align: center;
}

.name {
    color: black;
    margin-top: 3rem;
    font-size: 1.75rem;
}

.header {
    text-align: center;
    margin-top: 1.75rem;
    font-size: 2.5rem;
}